header{
    background: linear-gradient(rgba(211, 250, 179, 0.3),rgba(193, 238, 158, 0.6)),url(banner1.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 30px;
    color: white;
}
nav{
    background-color: rgba(47, 90, 34, 0.7);
    border-radius: 10px;
}
nav a{
    color: rgb(236, 240, 245);
    text-transform: uppercase;
}
nav a:hover{
    color: rgb(143, 241, 5);
}
#banner-content h1{
    margin-top: -20px;
}
#banner-content p{
    margin-left: 5px;
}
.choice
{
    background: linear-gradient(rgba(211, 250, 179, 0.3),rgba(193, 238, 158, 0.6)),url(/resources/images/pic05.jpg);
}
.bg-secondary{
    background-color: rgb(225, 225, 225) !important;
}
footer{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(resources/banner.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px;
}
footer img{
    height: 60px;
}
footer iframe{
    height: 200px;
    width: 100%;
    border: 5px solid orange;
}
